<div class="login-container">
  <h2>
Authorization</h2>

  <!-- შეტყობინება წარმატებული ავტორიზაციისთვის -->
  <div *ngIf="success" class="success-message">
    Authorization completed successfully!
  </div>

  <!-- შეტყობინება შეცდომის შემთხვევაში -->
  <div *ngIf="error" class="error-message">
    {{ error }}
  </div>

  <!-- ავტორიზაციის ფორმა -->
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <!-- ტელეფონის ნომერი -->
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input
        type="text"
        id="phoneNumber"
        formControlName="phoneNumber"
        placeholder="Enter a phone number"
      />
      <!-- ვალიდაციის შეტყობინებები -->
      <div
        *ngIf="f['phoneNumber'].touched && f['phoneNumber'].errors"
        class="validation-error"
      >
        <div *ngIf="f['phoneNumber'].errors['required']">
          Phone number is required
        </div>
      </div>
    </div>

    <!-- პაროლი -->
    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        formControlName="password"
        placeholder="Enter the password"
      />
      <!-- ვალიდაციის შეტყობინებები -->
      <div
        *ngIf="f['password'].touched && f['password'].errors"
        class="validation-error"
      >
        <div *ngIf="f['password'].errors['required']">Password is required</div>
      </div>
    </div>

    <!-- ღილაკები -->
    <div class="buttons">
      <button type="submit" [disabled]="loginForm.invalid || loading">
        <!-- ჩვენება "იტვირთება" როცა მოთხოვნა იგზავნება -->
        {{ loading ? "is loading..." : "Login" }}
      </button>
      <a routerLink="/register">Don't have an account? Sign up.</a>
    </div>
  </form>
</div>

