


  <!-- კატეგორიების ფილტრი -->
<div class="filter-container">
  
    <div class="categories-container">
      <button (click)="fetchFilteredProducts(0)">All</button>
      <button *ngFor="let category of categories" (click)="fetchFilteredProducts(category.id)">
        
          {{ category.name }}
       
        
      </button>
    </div>

</div>




<!-- filter mushaoba -->
 <div class="filter-mtliani">
  <div class="filter">

  <div class="filterflex">
    <label class="lastBtg">🔥 spiciness:</label>
    <select class="wiwakis-raodenoba" (change)="toggleFilter('spiciness', $event)">
      <option value="">Not chosen</option>
      <option value="0">🔥 0</option>
      <option value="1">🔥 1</option>  
      <option value="2">🔥 2</option>
      <option value="3">🔥 3</option>
    </select>
  </div>

  
    <label class="lastBtn">
      <input type="checkbox" (change)="toggleFilter('nuts', $event)">
        Nuts
    </label>
  
    <div class="checkbox-cotaqvevitdaweva">
    <label class="lastBtn">
      <input type="checkbox" (change)="toggleFilter('vegetarian', $event)">
      Vegetarian Only
    </label>
  </div>
 
  <button class="resetfilterdesign" (click)="resetFilters()">RESET FILTER</button>

</div>
</div>


 
<!-- პროდუქტების ჩვენება -->

<div class="list">
  <div *ngFor="let product of products" class="list-item">

    <img [src]="product?.image" alt="{{ product?.name }}">

    <div class="dizainitextlist">
      <h1>{{ product?.name }}</h1>

      <div class="spiciness-container">
        <span>Spiciness: 🔥{{ product.spiciness }}</span>
      </div>

      <div *ngIf="product?.nuts || product?.vegetarian" class="nuts-vegeterian-yes-or-no">
        <span *ngIf="product?.nuts">☑️ Nuts </span>
        <span *ngIf="product?.vegetarian">☑️ Vegetarian </span>
      </div>

      <div class="price-container">
        <h2> $ {{ product.price }}</h2>
        <button>Add to cart</button>
      </div>
    </div>

  </div>
</div>






<!-- პროდუქტების ჩვენება -->
<!-- <div class="menu-container">
  <div *ngFor="let product of products" class="product-card">
    <img [src]="product?.image" alt="{{ product?.name }}">
    <h3>{{ product?.name }}</h3>
    <p>ფასი: {{ product?.price }}₾</p>
    <p *ngIf="product?.nuts">🥜 შეიცავს თხილს</p>
    <p *ngIf="product?.vegetarian">🌱 ვეგეტარიანული</p>
    <p>სიწიწაკე: 🔥 {{ product?.spiciness }}</p>

<button (click)="product?.id !== undefined ? addToBasket(product.id) : null">
   
      <button>
      კალათაში დამატება
    </button>
 
 
  </div>
</div>
 

 <button class="btn-edit" (click)="editProduct(product)">რედაქტირება</button>
<button class="btn-delete" (click)="deleteProduct(product.id)">წაშლა</button>  -->







