<div class="profile-container">
  <h2>Profile </h2>

  <!-- მომხმარებლის ინფორმაციის გამოტანა -->
  <div class="profile-info" *ngIf="user">
    <div class="info-item" *ngIf="hasValue('firstName')">
      <span class="label">Name:</span>
      <span class="value">{{ user.firstName }}</span>
    </div>

    <hr>

    <div class="info-item" *ngIf="hasValue('lastName')">
      <span class="label">Last Name:</span>
      <span class="value">{{ user.lastName }}</span>
    </div>

    <hr>

    <div class="info-item" *ngIf="hasValue('phoneNumber')">
      <span class="label">PhoneNumber:</span>
      <span class="value">{{ user.phoneNumber }}</span>
    </div>

    <hr>

    <div class="info-item" *ngIf="hasValue('email')">
      <span class="label">Email:</span>
      <span class="value">{{ user.email }}</span>
    </div>

    <hr>

    <div class="info-item" *ngIf="hasValue('role')">
      <span class="label">Role:</span>
      <span class="value">{{ user.role }}</span>
    </div>

    <!-- თუ ინფორმაცია არასრულია, ვაჩვენოთ შეტყობინება -->
    <div
      class="note"
      *ngIf="
        !hasValue('firstName') || !hasValue('lastName') || !hasValue('email')
      "
    >
      <p>
       User information is incomplete. First name, last name and email
      are important.
      </p>
    </div>
  </div>

  <!-- შეტყობინება თუ მომხმარებლის მონაცემები ვერ ჩაიტვირთა -->
  <div *ngIf="!user" class="error-message">
   User data not found. Please log in.
  </div>

  <!-- გასვლის ღილაკი -->
  <div class="buttons">
    <button (click)="logout()">Log Out</button>
  </div>
</div>

