 
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;700&family=Montserrat:wght@400;600&display=swap');

html {
    scroll-behavior: smooth;
  }
  


  body {
    background-color: rgb(196, 208, 212);
  }


  * {
    margin: 0;
    padding: 0;
    outline: 0;

  }
  
 




